*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 10px 0;
    background-color: white;
}

body{
    background-color: #F6F8FA;
    font-family: "MHei PRC Medium";
}

h2{
    padding: 15px 0;
    margin-top: 20px;
}

ul{
    list-style-type: none;
}

li{
    padding: 7px 0;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.content{
    background-color: white;
    padding: 2% 5%;
    margin-top: 30px;
}

.logo-align{
    margin-left: 20px;
}

.w-150{
    width: 150px;
}

.inline-block{
    display: inline-block;
}

.v-align-middle{
    vertical-align: middle;
}

.button{
    padding: 5px 10px;
    border: 1px solid #999;
    border-radius: 10px;
}

.selected{
    background-color: #4EA8F5;
    color: white;
}

.unselected{
    background-color: white;
    color: #999;
}

.triangle{
    margin-right: 5px;
}

.tick{
    width: 20px;
    height: 20px;
    color: green;
    font-size: 0.8em;
    text-align: center;
    border: 1px solid green;
    border-radius: 50%;
    margin-right: 10px;
}

.cross{
    width: 20px;
    height: 20px;
    color: red;
    font-size: 0.8em;
    text-align: center;
    border: 1px solid red;
    margin-right: 10px;
    border-radius: 50%;
}

.label{
    padding: 6px 10px;
    border: 1px solid #999;
    border-radius: 15px;
    color: white;
    font-size: 0.8em;
    margin-left: 5px;
}

.editorial{
    background-color: #4EA8F5;
}

.goals{
    background-color: #9A76E0;
}

.recruit{
    background-color: #68C2AA;
}

.mobile{
    background-color: #EDA132;
}

.website{
    background-color: #DC659D;
}

.sales{
    background-color: #AFCA23;
}

